/*fbfbfc*/
html {
  height: 100%; }

body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.loginbox, .registerbox, .activationbox, .lostpasswordbox {
  width: 340px;
  padding: 20px 20px 20px 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  margin: -130px 0 0 -170px;
  border-radius: 4px; }
  .loginbox .progress-bar, .registerbox .progress-bar, .activationbox .progress-bar, .lostpasswordbox .progress-bar {
    background-color: #2dbb93; }

@media only screen and (min-width: 600px) {
  .loginbox, .registerbox, .activationbox, .lostpasswordbox {
    width: 540px;
    margin: -130px 0 0 -270px; } }

.progress {
  margin-bottom: 0; }

.panel-body {
  position: relative; }
  .panel-body .widget-searchform {
    position: absolute;
    right: 2px;
    top: -36px;
    width: 100%; }

.note {
  font-style: italic; }

.big-font-icon-and-msg {
  text-align: center;
  margin-bottom: 20px; }
  .big-font-icon-and-msg .fa {
    font-size: 150px;
    margin-top: 30px;
    margin-bottom: 30px; }

.navi {
  background-color: #f2f5f7;
  padding: 10px 0;
  margin-bottom: 15px; }
  .navi h1 {
    color: #0f1118; }
  .navi .title {
    text-align: right; }

.expandable.focused-add,
.expandable.focused-remove {
  -webkit-transition: all 0.1s ease 0s;
  -moz-transition: all 0.1s ease 0s;
  -o-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s; }

/* bootstrap */
.navbar-default {
  background-color: #fff; }
  .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #151f2b; }
  .navbar-default .navbar-toggle {
    border-color: #fff; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff; }

.navbar .navbar-text {
  margin-top: 8px;
  margin-bottom: 8px; }

.text-primary {
  color: #2dbb93; }


.loginbox-translate.open .dropdown-toggle.btn-primary {
  background-color: #151f2b;
  border-color: #151f2b; }

.path_box_parent {
  margin-bottom: 5px;  }
  .path_box_parent .path_box_breadcrumb {
    cursor: pointer; }
  .path_box_parent .disabled {
    cursor: not-allowed; }
  .path_box_parent .path_box_breadcrumb:hover {
    color: #2dbb93; }

.fa-circle.is-shared {
  color: #2dbb93;
  font-size: 80%;
  margin-top: 50%; }

.fa-group.is-shared {
  color: #0f1118;
  font-size: 35%;
  margin-top: 60%; }

.small-top-right {
  font-size: 65%;
  margin-top: -45%;
  margin-left: 60%; }

.fa-circle.small-top-right {
  font-size: 100%;
  margin-top: -40%; }
